/* blog */
.blog {
  background-color: $gray;
}
.blog_title_container {
  width: 200px;
}
.blog_section_title {
  background-color: $gray;
}
.blog_item {
  transition: .4s;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  &:hover {
    opacity: 0.8;
    transition: .5s;
  }
}
.blog_img_box {
  width: 80vw;
  max-width: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.blog_img {
  width: 100%;
  border-radius: 10px;
  transform: scale(1);
  transition: transform 0.6s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.blog_title {
  text-align: center;
  font-size: 1.6rem;
}
/* blogここまで */

/* blog 600 */
@media screen and (min-width: 600px) {
  .blog_title {
    font-size: 1.8rem;
  }
}
/* blog 600ここまで */

/* blog 1024 */
@media screen and (min-width: 1024px) {
  .blog_title_container {
    width: 300px;
  }
  .blog_list {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    max-width: 1400px;
    margin: 0 auto;
  }
  .blog_item {
    width: 25vw;
  }
  .blog_img_box {
    width: 100%;
    // max-width: px;
  }
  .blog_title {
    font-size: 2rem;
  }
}
/* blog 1024ここまで */
