/* date_acces sp */
/* date */
.date {
  background: linear-gradient($navy2, $navy);
  color: #fff;
  padding: 48px 3vw;
}
.date_title {
  background-color: $navy_title;
}
.about_name {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 8px;
}
.about_phone {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 16px;
}
.date_teble {
  background-color: #fff;
  color: $pink;
  font-size: 1.5rem;
  text-align: center;
  box-sizing: border-box;
  padding: 2rem 0;
  margin-bottom: 28px;
  th {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid $pink2;
  }
  td {
    padding: 1.5rem 1rem;  }
}
.date_head {
  tr {
    border-bottom: 1px solid $pink2;
  }
}
.date_head_top {
  width: 31vw;
}
.date_head_day, .date_head_dot {
  width: 9vw;
}
.date_text_box {
  font-size: 1.4rem;
}
/* dateここまで */

/* access */
.access {
  background: linear-gradient($navy2, $navy);
  padding: 48px 3vw 48px;
  color: #fff;
  font-size: 1.4rem;
}
.access_title {
  background-color: $navy_title;
}
.access_box {
  margin-bottom: 28px;
}
.access_google {
  width: 100%;
}
/* accessここまで */
/* date_acces spここまで */

/* date_acces tb */
@media screen and (min-width: 600px) {
  /* date 600 */
  .date {
    padding: 48px 10vw;
  }
  .about_name {
    font-size: 1.8rem;
  }
  .about_phone {
    font-size: 1.8rem;
  }
  .date_table {
    font-size: 1.6rem;
    margin-bottom: 36px;
  }
  .date_text_box {
    font-size: 1.5rem;
  }
  /* date 600ここまで */

    /* access 600 */
    .access {
      font-size: 1.5rem;
      padding: 48px 10vw 48px;
    }
    .access_box {
      width: 80vw;
      margin-bottom: 36px;
    }
  /* access 600ここまで */
}
/* date_acces tb ここまで */

/* date_access pc */
@media screen and (min-width: 1024px) {
  /* date 1024 */
  .date {
    padding: 48px 5vw;
  }
  .about_name {
    font-size: 2rem;
  }
  .about_phone {
    font-size: 2rem;
  }
  .date_box {
    display: flex;
    flex-direction: row-reverse;
    // align-items: center;
  }
  .date_teble {
    padding: 3rem 0;
    font-size: 1.8rem;
    th {
      padding: 2rem 1rem;
    }
    td {
      padding: 2rem;
    }
  }
  .date_head_top {
    width: 12vw;
  }
  .date_head_day, .date_head_dot {
    width: 4vw;
  }
  .date_text_box {
    width: 30vw;
    margin-right: 3vw;
    // text-align: center;
  }
  .date_text_box {
    font-size: 1.6rem;
  }
  .about_btn {
    margin: 36px 0 0;
  }
  /* date 1024ここまで */

  /* access 1024 */
  .access {
    padding: 48px 5vw;
    font-size: 1.6rem;
  }
  .access_container {
    display: flex;
    margin-top: 48px;
  }
  .access_box {
    width: 55vw;
    margin-right: 5vw;
  }
  .access_text_box {
    width: 30vw;
  }
  /* access 1024ここまで */
}
/* date_access pc ここまで */
