/* feature */
.feature {
  background: linear-gradient($pink2, $pink3);
}
.feature_title_container {
  width: 250px;
}
.feature_title {
  background-color: $pink2;
}
.feature_item {
 margin-bottom: 28px;
}
.feature_img_box {
  width: 70vw;
  max-width: 400px;
  margin: 0 auto;
}
.feature_img {
  border-radius: 10px;
  display: block;
  width: 100%;
}
.feature_text {
  font-size: 1.4rem;
  padding: 1rem;
}
.feature_btn {
  border: 1px solid #333;
  &:hover {
    border: 1px solid #fff;
  }
  a {
    color: #333;
  }
}

/* feature 600 */
@media screen and (min-width: 600px) {
  .feature_img_box {
    max-width: 500px;
  }
  .feature_text {
    font-size: 1.5rem;
  }
}
/* feature 600ここまで */

/* feature 1024 */
@media screen and (min-width: 1024px) {
  .feature_title_container {
    width: 300px;
  }
  .feature_list {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
  }
  .feature_item {
    width: 25vw;
    max-width: 500px;
  }
  .feature_img_box {
    width: 100%;
  }
  .feature_text {
    font-size: 1.8rem;
  }
  .feature_btn {
    width: 300px;
  }
}
/* feature 1024ここまで */
