/* footer_container */
.footer_container {
  position: relative;
  width: 100vw;
  background-color: rgba(231, 223, 168, .8);
  padding: 48px 0;
}
.footer_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 70vw;
  margin: 0 auto;
  text-align: center;
}
.footer_item {
  font-size: 1.3rem;
  width: 40vw;
  padding: 1.5rem 1rem;
  transition: .4s;
  &:hover {
    opacity: 0.6;
    transition: .4s;
  }
}
.top_scroll {
  position: absolute;
  right: 5vw;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background-color: $lightGreen;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  &:hover {
    opacity: .8;
    transition: .6s;
  }
}
.scroll_bottom_text {
  line-height: 40px;
  font-size: 1.6rem;
  &:hover {
    opacity: .8;
    transition: .6s;
  }
}

 /* footer */
footer {
  background-color: $brown;
  text-align: center;
  color: #fff;
  padding: 16px;
  font-size: 1.2rem;
}
/* footerここまで */

/* footer 600 */
@media screen and (min-width: 600px) {
  .footer_list {
    justify-content: center;
  }
  .footer_item {
    width: 20vw;
    font-size: 1.5rem;
  }

  .top_scroll {
    width: 50px;
    height: 50px;
  }
  .scroll_bottom_text {
    line-height: 50px;
    font-size: 1.8rem;
  }

}
/* footer 600ここまで */

/* footer 1024 */
@media screen and (min-width: 1024px) {
  .top_scroll {
    position: fixed;
    z-index: 4;
    bottom: 50px;
    width: 60px;
    height: 60px;
  }
  .scroll_bottom_text {
    line-height: 60px;
    font-size: 2rem;
  }
  footer {
    font-size: 1.4rem;
  }
}
/* footer 1024ここまで */
