/* guidance */
.guidance {
  background-color: $gray;
  // background: linear-gradient(pink, gray);
}
.guidance_title {
  color: $pink;
  background: $gray;
}
.guidance_box {
  background-color: #fff;
  box-shadow: 1px 2px 4px #909796;
}
.guidance_list_title {
  border-bottom: 2px solid rgb(240, 240, 240);
  font-size: 1.6rem;
  padding: 1.6rem;
  color: $pink;
}
.guidance_list_box {
  padding: 1.5rem 2rem;
  a {
    display: block;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}
.guidance_list_item {
  font-size: 1.4rem;
  color: $pink;
  padding-left: 1rem;
  &::before {
    content: '>';
    margin-right: 8px;
  }
  &:hover {
    text-decoration: underline;
  }
}
/* guidanceここまで */

/* guidance 600 */
@media screen and (min-width: 600px) {
  .guidance_list_title {
    font-size: 1.8rem;
    padding: 1.8rem;
  }
  .guidance_list_item {
    font-size: 1.5rem;
    padding-left: 1.5rem;
    &::before {
      margin-right: 10px;
    }
  }
}
/* guidance 600ここまで */

/* guidance 1024 */
@media screen and (min-width: 1024px) {
  .guidance_container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    margin: 0 auto;
    max-width: 1200px;
  }
  .guidance_box {
    width: 25vw;
    max-width: 350px;
  }
}
/* guidance 1024ここまで */
