$darkGreen: #e7dfa8;
$darkGreen2: #fff5ba;
$darkGreen3: #797454;
$lightGreen: #e4f1ef;
$lightGreen2: #ddfaf6;
$gray: #fafafa;
$pink: #ff70b0;
$pink2: #ffcee4;
$pink3: #ffdbec;
$navy: #363d62;
$navy2: #505c94;
$navy_title: #4d588e;
$brown: #866827;
